<% layout("/layouts/boilerplate") %>

<style>
  /* @media (max-width: 768px) { */
  .createListing {
    width: 600px;
  }
  /* } */
</style>

<body>
  <div class="row mt-3">
    <div class="createListing col-10 mx-auto my-0">
        <h3>Create New Listing</h3>
        <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required />
            <div class="valid-feedback">Title looks good!</div>
          </div>
      
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter a short message</div>
          </div>
      
          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image:</label>
            <input type="file" name="listing[image]" class="form-control" required />
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Category Of Listing:</label>
            <select class="form-select form-control" name="listing[category]" required>
              <option value="Rooms">Rooms</option>
              <option value="Mountains">Mountains</option>
              <option value="Castles">Castles</option>
              <option value="Camping">Camping</option>
              <option value="Arctic">Arctic</option>
              <option value="Farms">Farms</option>
              <option value="Domes">Domes</option>
              <option value="Boats">Boats</option>
              <option value="Cities">Cities</option>
              <option value="Beach">Beach</option>
              <option value="Temple">Temple</option>
              <option value="Pools">Pools</option>
            </select>
          </div>
      
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price:</label>
              <input type="number" name="listing[price]" placeholder="1500" class="form-control" min="0" required />
              <div class="invalid-feedback">Price should be valid</div>
            </div>
      
            <div class="mb-3 col-md-8">
              <label for="location" class="form-label">Location:</label>
              <input type="text" name="listing[location]" placeholder="Sitamarhi, Bihar" class="form-control" required />
              <div class="invalid-feedback">Location should be valid</div>
            </div>
          </div>
      
          <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required />
            <div class="invalid-feedback">Country should be valid</div>
          </div>
      
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
          </div>
        </form>
      </div>
      
  </div>
</body>
